<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.authentication.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.authentication.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Controller.Home.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controller.authentication.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutController</servlet-name>
        <servlet-class>Controller.Student.AboutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Personal</servlet-name>
        <servlet-class>Controller.Student.Personal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>Controller.Student.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DomDetailController</servlet-name>
        <servlet-class>Controller.Student.DomDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomDetailController</servlet-name>
        <servlet-class>Controller.login.RoomDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentPlaceHistoryController</servlet-name>
        <servlet-class>Controller.Student.StudentPlaceHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BedDetailController</servlet-name>
        <servlet-class>Controller.Student.BedDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryController</servlet-name>
        <servlet-class>Controller.Student.HistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentRequestController</servlet-name>
        <servlet-class>Controller.Student.StudentRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRequestController</servlet-name>
        <servlet-class>Controller.Student.CreateRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookBedController</servlet-name>
        <servlet-class>Controller.Student.BookBedController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MoneyController</servlet-name>
        <servlet-class>Controller.Student.MoneyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHome</servlet-name>
        <servlet-class>Controller.Home.AdminHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAdminController</servlet-name>
        <servlet-class>Controller.admin.AddAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>Controller.admin.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAdminController</servlet-name>
        <servlet-class>Controller.admin.DeleteAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRequestController</servlet-name>
        <servlet-class>Controller.admin.ViewRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRequestController</servlet-name>
        <servlet-class>Controller.admin.UpdateRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBookBedController</servlet-name>
        <servlet-class>Controller.admin.ViewBookBedController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookBedController</servlet-name>
        <servlet-class>Controller.admin.UpdateBookBedController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDomDetail</servlet-name>
        <servlet-class>Controller.admin.AdminDomDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckRegisController</servlet-name>
        <servlet-class>Controller.authentication.CheckRegisController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutController</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Personal</servlet-name>
        <url-pattern>/perinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DomDetailController</servlet-name>
        <url-pattern>/domdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentPlaceHistoryController</servlet-name>
        <url-pattern>/placehistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BedDetailController</servlet-name>
        <url-pattern>/beddetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryController</servlet-name>
        <url-pattern>/historydetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentRequestController</servlet-name>
        <url-pattern>/studentrequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRequestController</servlet-name>
        <url-pattern>/createrequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookBedController</servlet-name>
        <url-pattern>/bookbed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MoneyController</servlet-name>
        <url-pattern>/money</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHome</servlet-name>
        <url-pattern>/adminhome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAdminController</servlet-name>
        <url-pattern>/addadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAdminController</servlet-name>
        <url-pattern>/deleteadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRequestController</servlet-name>
        <url-pattern>/viewrequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRequestController</servlet-name>
        <url-pattern>/updaterequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBookBedController</servlet-name>
        <url-pattern>/viewbookbed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookBedController</servlet-name>
        <url-pattern>/updatebookbed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDomDetail</servlet-name>
        <url-pattern>/admindomdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckRegisController</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
